select {
    -webkit-appearance: none;
    padding: 5px;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 2px !important;
    outline-radius: 0;
    padding: 3px 6px;
    padding-right: 16px;
    background: url('../images/triangle.svg') no-repeat right #F8F8F8;
    background-size: auto 80%;
    &:hover {
        background: url('../images/triangle-white.svg') no-repeat right $primary-color-light;
        color: white;
    }
    &:focus {
        box-shadow: 0 0 5px $primary-color-light;
    }
    box-shadow: 0 0 2px #CCC;
    cursor: pointer;
}

button {
    font-size: 14px;
    font-family: $main-font;
    border: none;
    outline: none;
    margin: 0; padding: 0;
    cursor: pointer;
    background: none;
}

button.button-normal {
    border-radius: 2px;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    padding: 0px 12px;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
    &:hover {
        background-color: $primary-color-dark;
        border: 1px solid $primary-color-dark;
    }
    &:active {
        background-color: $primary-color-darker;
        border: 1px solid $primary-color-darker;
    }
    &:focus {
        box-shadow: 0 0 10px fade($primary-color, 30%);
        border: 1px solid $primary-color-darker;
    }
}

button.button-chart-type {
    display: inline-block;
    border-radius: 2px;
    width: 30%;
    max-width: 150px;
    img {
        width: 100%;
    }
    span {
        margin-top: 3px;
        display: block;
        text-align: center;
    }
    background-color: $well-color;
    margin-right: 10px;
    padding: 5px;
    cursor: pointer;

    &:hover {
        background-color: $primary-color-light;
    }
    &.active {
        background-color: $primary-color;
        span { color: white; }
    }
    &:focus {
        box-shadow: 0 0 5px $primary-color-light;
    }

    &.disabled {
        color: $gray-700;
        img {
            filter: grayscale(1);
            opacity: 0.7;
        }
        &:hover {
            background-color: $gray-800;
        }
        &.active {
            background-color: $gray-800;
            span { color: white; }
        }
        &:focus {
            box-shadow: 0 0 5px $gray-800;
        }

    }
}

button.button-dropdown {
    display: block;
    line-height: 23px;
    width: 100%;
    text-align: left;
    margin: 0; padding: 0 10px;
    border-radius: 2px !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding-right: 30px;
    box-sizing: border-box;
    background: url('../images/triangle.svg') no-repeat right #F8F8F8;
    border: 1px solid #CCC;
    &:hover {
        background: url('../images/triangle-white.svg') no-repeat right $primary-color-light;
        border: 1px solid $primary-color;
        color: white;
    }
    &.active {
        background: url('../images/triangle-white.svg') no-repeat right $primary-color;
        border: 1px solid $primary-color-dark;
        color: white;
    }
    &:focus {
        box-shadow: 0 0 5px $primary-color-light;
        border: 1px solid $primary-color;
    }
}

button.button-small {
    display: block;
    line-height: 23px;
    width: 100%;
    text-align: left;
    margin: 0; padding: 0 10px;
    border-radius: 2px !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    box-sizing: border-box;
    background: #F8F8F8;
    border: 1px solid #DDD;
    &:hover {
        background: $primary-color-light;
        border: 1px solid $primary-color;
        color: white;
    }
    &.active {
        background: $primary-color;
        border: 1px solid $primary-color-dark;
        color: white;
    }
    &:focus {
        box-shadow: 0 0 5px $primary-color-light;
        border: 1px solid $primary-color;
    }
}

button.button-dropdown-list-item {
    display: block;
    line-height: 23px;
    width: 100%;
    text-align: left;
    margin: 0; padding: 0 10px;
    cursor: pointer;
    &:hover {
        background-color: $primary-color-light;
        color: white;
    }
    &.active {
        background-color: $primary-color;
        color: white;
    }
}

button.button-text {
    font-size: 18px;
    color: $gray-400;
    padding: 4px 10px;
    border-radius: 2px;
    &:hover {
        color: $primary-color;
        background-color: transparentize($primary-color, 0.8);
    }
    &:focus {
        box-shadow: 0 0 5px $primary-color-light;
    }
}

input[type="text"], input[type="number"] {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: #F8F8F8;
    background-color: #FFF;
    padding: 3px 5px;
    border: 1px solid #DDD;
    border-radius: 2px;
    width: 100%;
    box-sizing: border-box;
    &:focus {
        border: 1px solid $primary-color;
        box-shadow: 0 0 5px $primary-color-light;
    }
}

.dropdown-widget {
    display: inline-block;
    position: relative;
    width: 100%;

    & > .dropdown-list {
        display: none;
        width: 100%;
        position: absolute;
        border-radius: 2px;
        box-shadow: 0 0 2px $primary-color;
        margin: 0; padding: 0;
        max-height: 125px;
        overflow-y: scroll;
        overflow-x: hidden;
        border: 1px solid $primary-color;
        box-sizing: border-box;
        outline: none;
        left: 0px; top: 26px;
        width: 100%;
        z-index: 1000000;
        background: #FFFFFF;
    }
}

.chart-view {
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    margin: 10px 0;

    & > .toolbar {
        border: 1px solid $border-color;
        background-color: $well-color;
        overflow: hidden;
        border-radius: 2px 2px 0 0;
        margin-right: 362px;
        padding: 4px;
    }
    & > .panel {
        float: right;
        box-shadow: 0 0 2px #444;
        border: 1px solid #444;
        border-radius: 2px;
        overflow: hidden;
    }
    & > .chart {
        margin-right: 362px;
        border: 1px solid $border-color;
        border-top: none;
        overflow: hidden;
        overflow-x: scroll;
        border-radius: 0 0 2px 2px;
        background: #F8F8F8;
        & > .chart-container {
            position: relative;
            box-sizing: content-box;
            border: 1px solid #888;
            margin: 5px;
            background: #FFF;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
            & > .corner-resize {
                position: absolute;
                right: 0; bottom: 0;
                width: 10px;
                height: 10px;
                cursor: nwse-resize;
                img {
                    position: absolute; left: 0; top: 0;
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}

input[type="color"] {
    height: 25px;
    box-sizing: border-box;
    border-radius: 2px;
    width: 50px;
    padding: 1px;
    background: #FFF;
    border: 1px solid #DDD;
    outline: none;
    &:focus {
        border: 1px solid $primary-color;
        box-shadow: 0 0 5px $primary-color-light;
    }
}

.label-widget {
    position: relative;
    display: inline-block;
    width: 100%;

    & > input[type="text"] {
        width: calc(100% - 32px);
        border-right: none;
        border-radius: 2px 0 0 2px;
        &:focus {
            border-right: 1px solid $primary-color;
        }
    }
    & > .controls {
        button {
            width: 32px;
            padding: 0;
            text-align: center;
            border-radius: 0 2px 2px 0 !important;
            box-shadow: none;
            &:focus {
                box-shadow: 0 0 5px $primary-color-light;
                border: 1px solid $primary-color;
            }
        }
        float: right;
    }
    & > .dropdown {
        display: none;
        position: absolute;
        border-radius: 2px;
        box-shadow: 0 0 2px $primary-color;
        margin: 0; padding: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        border: 1px solid $primary-color;
        box-sizing: border-box;
        outline: none;
        right: 0px; top: 26px;
        width: 250px;
        padding: 0 10px;
        z-index: 1000000;
        background: #FFFFFF;
    }
}