@import "reset.scss";
@import "utils.scss";
@import "variables.scss";

@import "controls.scss";
@import "typography.scss";

body {
    font-size: 14px;
    font-family: $main-font;
    cursor: default;
    @include user-select-none;
}

.main-view { }

.navigation-view {
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;

    $normal-color: #DDD;
    $normal-border-color: #DDD;
    $active-color: $primary-color;
    $active-border-color: $primary-color;
    $done-color: $primary-color-light;
    $done-border-color: $primary-color-light;

    border-bottom: 2px solid #EEE;
    padding: 0px;
    position: relative;

    .title {
        font-size: 20px;
        line-height: 28px;
        height: 28px;
        color: #666;
        text-decoration: none;
        &:hover, &:active, &:focus {
            color: #222;
        }
    }

    .left-side {
        position: absolute;
        left: 0;
    }
    .right-side {
        position: absolute;
        right: 0;
    }



    button.stage {
        height: 28px;
        line-height: 28px;
        font-size: 16px;
        background: transparent;
        display: inline-block;
        padding-right: 5px;
        margin-right: 0px;
        color: $normal-color;
        background-color: white;
        box-sizing: border-box;
        cursor: default;
        .arrow {
            margin-left: 5px;
            color: $normal-color;
        }
        &.active {
            color: $active-color;
            .arrow {
                color: $normal-color;
            }
        }
        &.fade {
            color: $done-color;
            cursor: pointer;
            .arrow {
                color: $done-color;
                text-decoration: none;
            }
            &:hover {
                color: lighten($active-color, 5%);
                .text { text-decoration: underline; }
            }
        }
        .arrow {
            padding-left: 5px;
        }
        &:last-child {
            .arrow { display: none; }
        }
    }
}

.table-container {
    overflow: scroll;
    border: 1px solid #EEE;
    margin: 10px 0;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
}

table {
    word-break: keep-all;
    white-space: nowrap;
    border-collapse: collapse;
    .column-name { font-weight: bold; }
    th {
        background: rgba(0, 0, 0, 0.10);
        border: 1px solid white;
        padding: 4px 8px;
        &.type_number { text-align: right; }
        &.type_text { text-align: left; }
        min-width: 100px;
        text-align: left;
    }
    td {
        background: rgba(0, 0, 0, 0.02);
        border: 1px solid white;
        padding: 4px 8px;
        &.type_number { text-align: right; }
        &.type_text { text-align: left; }
    }
}