h2 {
    color: $gray-400;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    padding: 0 0;
    margin: 20px 0;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: $blue-300;
    &:hover {
        color: $blue-500;
        text-decoration: underline;
    }
}

h3 {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    color: #444;
    margin: 10px 0;
    font-weight: lighter;
}

p {
    margin: 10px 0;
    &.note {
        color: $gray-500;
    }
}

ul {
    li {
        margin: 5px 0;
    }
}

.horizontal-rule {
    margin: 20px 0px;
    height: 0px;
    width: 100%;
    border-top: 1px solid $border-color;
}