$main-font: "Helvetica", "Helvetica Neue", "Arial", "sans-serif";

$gray-000: #000000;
$gray-100: #1e1e1e;
$gray-200: #353535;
$gray-300: #4e4e4e;
$gray-400: #696969;
$gray-500: #858585;
$gray-600: #a2a2a2;
$gray-700: #c0c0c0;
$gray-800: #dfdfdf;
$gray-900: #ffffff;

$orange-000: #430000;
$orange-100: #570000;
$orange-200: #720700;
$orange-300: #922b00;
$orange-400: #b44800;
$orange-500: #d76400;
$orange-600: #fa8119;
$orange-700: #ff9f3b;
$orange-800: #ffbe59;
$orange-900: #ffdd77;

$green-000: #001f00;
$green-100: #002e00;
$green-200: #004500;
$green-300: #006100;
$green-400: #007f00;
$green-500: #009d0f;
$green-600: #0fbc34;
$green-700: #47db52;
$green-800: #6dfc70;
$green-900: #90ff8e;

$blue-000: #000446;
$blue-100: #002161;
$blue-200: #00387d;
$blue-300: #00519a;
$blue-400: #106bb8;
$blue-500: #4487d7;
$blue-600: #68a4f7;
$blue-700: #89c2ff;
$blue-800: #aae1ff;
$blue-900: #ccffff;

$primary-color-darker: $orange-400;
$primary-color-dark: $orange-500;
$primary-color: $orange-600;
$primary-color-light: $orange-700;
$primary-color-lighter: $orange-800;

$border-color: #F0F0F0;
$well-color: #F8F8F8;