.widget-row {
    display: block;

    &.widget-row-p {
        margin: 10px 0;
    }

    & > .col-1 { display: inline-block; width: 1 / 12 * 100%; }
    & > .col-2 { display: inline-block; width: 2 / 12 * 100%; }
    & > .col-3 { display: inline-block; width: 3 / 12 * 100%; }
    & > .col-4 { display: inline-block; width: 4 / 12 * 100%; }
    & > .col-5 { display: inline-block; width: 5 / 12 * 100%; }
    & > .col-6 { display: inline-block; width: 6 / 12 * 100%; }
    & > .col-7 { display: inline-block; width: 7 / 12 * 100%; }
    & > .col-8 { display: inline-block; width: 8 / 12 * 100%; }
    & > .col-9 { display: inline-block; width: 9 / 12 * 100%; }
    & > .col-10 { display: inline-block; width: 10 / 12 * 100%; }
    & > .col-11 { display: inline-block; width: 11 / 12 * 100%; }
    & > .col-12 { display: inline-block; width: 12 / 12 * 100%; }

    label {
        vertical-align: top;
        display: inline-block;
        width: 60px;
        text-align: right;
        padding-right: 8px;
        height: 25px;
        line-height: 25px;
    }
    .widget-content {
        vertical-align: top;
        display: inline-block;
        width: calc(100% - 68px);
    }
    .error {
        color: #d62728;
    }
}

.chart-options {
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid $border-color;
    background: $well-color;
}